.header{
	color: #fff;
	position: fixed;
    background: #000;
    height: 53px;
}
.logo{
	display: inline;
    width: 30px;
    margin-top: -8px;
}
.head{
	padding-top: 15px;
    padding-left: 25px;
}
.head-btn{
	color: #fff;
    font-size: 18px;
    padding-right: 65px;
    padding-top: 5px;
}
.group-body{
    margin-top: 100px;
}
.topbar{
    margin-top: 5px;
    margin-bottom: 40px;
}
.group-name{
    margin: 0;
    text-align: center;
    background: #000;
    color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
}
.contact-cards{
    height: 250px;
}
.thumbnail{
    height: 90%;
}