<div class="container-fluid mainBox">
  <div class="row">
    <div class="col-md-12 header">
        <div class="head">
          <img class="logo" src="/assets/logo.svg">
          <h3 style="display: inline;">CONTACT MANAGER</h3>
          <a href="/login" class="pull-right head-btn">logout</a>
        </div>
    </div>
  </div>
  <div class="container group-body">
    <div class="col-md-12">
      <h2>List of The Contact Groups</h2>
    </div>

    <div class="container">
      <div class="col-md-12 topbar">
        <span><i class="glyphicon glyphicon-plus"></i> Add Group</span>
        <input class="pull-right" type="text" name="search" placeholder="search group name">
      </div>
    </div>
    
    <div class="col-sm-6 col-md-3 contact-cards">
      <div class="thumbnail">
        <div class="caption">
          <h3 class="group-name">HR Contacts</h3>
          <p>random description about the group</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 contact-cards">
      <div class="thumbnail">
        <div class="caption">
          <h3 class="group-name">Accouts team</h3>
          <p>random description about the group</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 contact-cards">
      <div class="thumbnail">
        <div class="caption">
          <h3 class="group-name">Group for the contact of technichal teams</h3>
          <p>random description about the group, random description about the group, random description about the group</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 contact-cards">
      <div class="thumbnail">
        <div class="caption">
          <h3 class="group-name">Group name</h3>
          <p>random description about the group</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 contact-cards">
      <div class="thumbnail">
        <div class="caption">
          <h3 class="group-name">Group name</h3>
          <p>random description about the group</p>
        </div>
      </div>
    </div>
  </div>
</div>